{% extends 'base.html.twig' %}

{% block title %}FotoGaleria{% endblock %}

{% block body %}
    <h1>FotoGaleria</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ foto_galerium.id }}</td>
            </tr>
            <tr>
                <th>Nombre_foto</th>
                <td>{{ foto_galerium.nombreFoto }}</td>
            </tr>
            <tr>
                <th>IdGaleria</th>
                <td>{{ foto_galerium.idGaleria }}</td>
            </tr>
            <tr>
                <th>Url_foto</th>
                <td>{{ foto_galerium.urlFoto }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('foto_galeria_index') }}">back to list</a>

    <a href="{{ path('foto_galeria_edit', {'id': foto_galerium.id}) }}">edit</a>

    {{ include('foto_galeria/_delete_form.html.twig') }}
{% endblock %}
